.h1{
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.body{
    background-color: aqua;
    border-radius: 0%;
    background-position: 0%;

}